.container {
  background: lightyellow;
  width: 1200px;
  height: 560px;
}
.h3.mat-subheader {
  font-size: 12px;
}
.settings {
  width: 250px;
  
  height: 560px;
}

.annotation {
  width: 600px;
  
  height: 560px;
}

.labelled {
  width: 350px;
  
  height: 560px;
}

.mat-slider {
  width: 180px;
}

.labelled-viewport {
  height: 350px;
  width: 320px;
  border: 1px solid lightgray;
}

.labelled-card {
  height: flex;
  width: 250px;
  border: 8px solid;
}

.matches-viewport {
  height: 170px;
  width: 350px;
  border: 2px solid darkgray;
}
.answers-viewport {
  height: 230px;
  width: 350px;
  border: 1px solid lightgray;
}
.answerList {
 
  display: block !important;
  flex-wrap: wrap;
  height: 100%;
}
.nonmatchList {
  display: block !important;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;
  border:  1px solid lightgray;
}
.labelledList {
  display: block !important;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;
  border:  1px solid lightgray;
}
.labelledAnswerList{
  flex-wrap: wrap;
}

