.my-flex-mat-card {
    width: 800px !important;
    height: 550px !important;
    
} 
.search-container {
    display: flex;
    flex-direction: column;
  }
  
.search-container {
    transform: scale(1.5)
  }