<mat-card class="my-flex-mat-card">
    <mat-card-title>Question 1: Why do germans eat suagr?
    </mat-card-title><br><br>
                <mat-card-content fxLayoutAlign="center">
                <form>
                                <div class="search-container" fxLayoutAlign="center">
                                                <mat-form-field>
                                                  <input matInput placeholder="Enter Search Pattern*">
                                                  <button mat-icon-button matSuffix><mat-icon >search</mat-icon></button>
                                                  <button mat-icon-button matSuffix><mat-icon >clear</mat-icon></button>
                                                </mat-form-field>
                                              </div>
                                        </form><br>

                                        
                        </mat-card-content>